#shark{
    right: 100px;
    top: 50px;
    position: absolute;
    animation-name: Shark;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Shark{
    0% {right: 150px; top: 530px;}
    20% {right: 350px; top: 530px;}
    40% {right: 900px; top: 530px;}
    50% {right: 1100px; top: 560px;}
    60% {right: 1200px; top: 500px;}
    80% {right: 800px; top: 450px;}
    100% {right:150px; top: 300px; transform: scaleX(-1)}
}
#fish{
    left: 100px;
    top: 430px;
    position: absolute;
    animation-name: Fish;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Fish{
    0% {left: 380px; top: 430px;}
    20% {left: 580px; top: 430px;}
    40% {left: 680px; top: 330px;}
    50% {left: 780px; top: 80px;}
    60% {left: 780px; top: 130px;}
    80% {left: 580px; top: 230px;}
    100% {left: 100px; top: 430px; transform: scaleX(-1);}
}
#diver2{
    left: 100px;
    top: 200px;
    position: absolute;
    animation-name: Diver2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Diver2{
    0% {left: 100px; top: 200px;}
    40% {left: 650px; top: 150px;}
    50% {left: 600px; top: 50px;}
    60% {left: 550px; top: 100px;}
    80% {left: 300px; top: 100px;}
    100% {left: 100px; top: 200px; transform: scaleX(-1);}
}
#diver1{
    right: 100px;
    top: 480px;
    position: absolute;
    animation-name: Diver1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Diver1{
    0% {right: 100px; top: 480px;}
    20% {right: 300px; top: 480px;}
    40% {right: 1000px; top: 480px;}
    50% {right: 1200px; top: 480px;}
    60% {right: 1000px; top: 480px;}
    80% {right: 750px; top: 480px;}
    100% {right:100px; top: 480px; transform: scaleX(-1)}
}
#turtle{
    left: 100px;
    top: 490px;
    position: absolute;
    animation-name: Turtle;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Turtle{
    0% {left: 480px; top: 430px;}
    20% {left: 680px; top: 430px;}
    40% {left: 780px; top: 330px;}
    50% {left: 880px; top: 80px;}
    60% {left: 680px; top: 130px;}
    80% {left: 380px; top: 230px;}
    100% {left: 100px; top: 430px; transform: scaleX(-1);}
}
#diver3{
    right: 100px;
    top: 100px;
    position: absolute;
    animation-name: Diver3;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Diver3{
    0% {right: 100px; top: 100px;}
    20% {right: 130px; top: 280px;}
    40% {right: 150px; top: 380px;}
    50% {right: 170px; top: 480px;}
    60% {right: 150px; top: 380px;}
    80% {right: 130px; top: 280px;}
    100% {right:100px; top: 100px; transform: scaleX(-1)}
}
#faint{
    left: 300px;
    top: 180px;
    position: absolute;
    animation-name: Faint;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Faint{
    0% {left: 300px; top: 180px;}
    20% {left: 300px; top: 140px;}
    40% {left: 300px; top: 80px;}
    50% {left: 300px; top: 40px;}
    100% {left: 300px; top: 0;}
}
#faint1{
    left: 300px;
    top: 180px;
    position: absolute;
    animation-name: Faint;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Faint{
    0% {right: 200px; top: 170px;}
    20% {right: 280px; top: 160px;}
    40% {right: 340px; top: 90px;}
    50% {right: 500px; top: 90px;}
    100% {right: 200px; top: 50;}
}
div {
    display: flex;
    justify-content: center;
}
button {
    height: 50px;
    width: 50px;
    margin: 10px;
}
button {
    height: 50px;
    width: 50px;
    margin: 10px;
}
.bot {
    position:absolute;
    bottom:20px;
    float: left;
}

.card {
    position:absolute;
    top:20px;
    float: right; 
}
